[Unit]
Description=Pipy Proxy
After=network.target

[Service]
EnvironmentFile=-/etc/sysconfig/pipy
Type=simple
ExecStart=/usr/local/bin/pipy $PIPY_CONFIG_FILE  --watch-config-file
KillMode=process
StandardOutput=syslog
StandardError=inherit
Restart=on-failure
RestartSec=30s
RestartPreventExitStatus=255
SyslogIdentifier=pipy
User=pipy
Group=pipy

[Install]
WantedBy=multi-user.target
